<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>controller.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>filterCategoryController</servlet-name>
        <servlet-class>controller.filterCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>detailController</servlet-name>
        <servlet-class>controller.detailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>controller.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>controller.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartController</servlet-name>
        <servlet-class>controller.DeleteCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartQuantityController</servlet-name>
        <servlet-class>controller.UpdateCartQuantityController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutController</servlet-name>
        <servlet-class>controller.CheckoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThankController</servlet-name>
        <servlet-class>controller.ThankController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartAsyncController</servlet-name>
        <servlet-class>controller.async.AddToCartAsyncController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>managerController</servlet-name>
        <servlet-class>controller.managerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAdminProductController</servlet-name>
        <servlet-class>controller.DeleteAdminProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadProductManager</servlet-name>
        <servlet-class>controller.LoadProductManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signUpController</servlet-name>
        <servlet-class>controller.signUpController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>filterCategoryController</servlet-name>
        <url-pattern>/filter-category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>detailController</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/add-to-cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/carts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartController</servlet-name>
        <url-pattern>/delete-cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartQuantityController</servlet-name>
        <url-pattern>/update-quantity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutController</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThankController</servlet-name>
        <url-pattern>/thanks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <filter-mapping>
        <filter-name>AunthenticationFilter</filter-name>
        <url-pattern/>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthorizationFilter</filter-name>
        <url-pattern/>
    </filter-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartAsyncController</servlet-name>
        <url-pattern>/add-to-cart-async</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>managerController</servlet-name>
        <url-pattern>/manager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAdminProductController</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadProductManager</servlet-name>
        <url-pattern>/loadProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signUpController</servlet-name>
        <url-pattern>/signUp</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
